h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body {
  margin-top: 1em;
}
body,html{
  height: 100%;
  max-height: 100%;
  width:100%;
}
img{
  max-height: 5em;
  max-width: 100%;
}
#dropup-menu{
  min-width: 0px !important;
}
textarea{
  resize : none;
}
.pseudo>p{
  display:inline-block;
}
.message{
  line-height: 1em;
}


.btn-sample {
  color: #ffffff;
  background-color: #31366B;
  border-color: #375a7f;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  color: #ffffff;
  background-color: #2E247A;
  border-color: #375a7f;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
  background-color: #31366B;
  border-color: #375a7f;
}

.btn-sample .badge {
  color: #31366B;
  background-color: #ffffff;
}


#awesome-dots{
        position:relative;
        margin: 0 auto;
        top: 300px;
        width: 100px;
        height: 30px;
        background: radial-gradient(circle at 15px 10px , #FFFFFF 3px, rgba(0, 0, 0, 0) 4px), radial-gradient(circle at 40px 10px , #FFFFFF 3px, rgba(0, 0, 0, 0) 4px), radial-gradient(circle at 65px 10px , #FFFFFF 3px, rgba(0, 0, 0, 0) 4px), radial-gradient(circle at 90px 10px , #FFFFFF 3px, rgba(0, 0, 0, 0) 4px);
        animation: load 3s 400ms linear infinite;
      }
      @keyframes load{
        0% {
          opacity: 0;
          transform: translateX(-300px);
        }
        33% {
          opacity: 0.8;
          transform: translateX(-100px);
        }
        50%{
          opacity: 1;
          transform: translateX(0px);
        }
        66% {
          opacity: 0.8;
          tranform: translateX(100px);
        }
        100% {
          opacity: 0;
          transform: translateX(300px);
        }
      }
