h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body {
  margin-top: 1em;
}
body,html{
  height: 100%;
  max-height: 100%;
  width:100%;
}
img{
  max-height: 5em;
  max-width: 100%;
}
#dropup-menu{
  min-width: 0px !important;
}
textarea{
  resize : none;
}
.pseudo>p{
  display:inline-block;
}
.message{
  line-height: 1em;
}


.btn-sample {
  color: #ffffff;
  background-color: #31366B;
  border-color: #375a7f;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  color: #ffffff;
  background-color: #2E247A;
  border-color: #375a7f;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
  background-color: #31366B;
  border-color: #375a7f;
}

.btn-sample .badge {
  color: #31366B;
  background-color: #ffffff;
}
