<div class="col-md-10 col-xs-12 col-sm-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-2 col-sm-2">
        </div>
        <div class="col-xs-8 col-sm-8">
          <h1 class="panel-title text-center">Last message from <b>{{userService.getNickname(lastMessage().fromIdUser)}}</b> - {{lastMessage().date.toLocaleString()}}</h1>
        </div>
        <div class="col-xs-2 col-sm-2">
          <a class="btn btn-primary hidden-lg hidden-md" (click)="toggleUser(userList)"><i class="fa fa-fw fa-users"></i></a>
        </div>
        <!--
        <div class="col-xs-2 col-sm-2">
          <a class="btn btn-primary hidden-lg hidden-md pull-right"><i class="fa fa-fw fa-wechat"></i></a>
        </div>
      -->
      </div>
    </div>
    <chat-display></chat-display>
  </div>
</div>
<user-display #userList></user-display>
