<hr>
<form class="form-horizontal" role="form" (submit)="send()">
  <div class="form-group row">
    <div class="btn-group col-xs-2 col-sm-2 col-md-2 col-lg-2 dropup">
      <button id="dropup-btn" class="btn btn-primary dropdown-toggle pull-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-plus fa-fw"></i><span class="caret"></span>
      </button>
      <ul id="dropup-menu" class="dropdown-menu dropdown-menu-right">
        <li><a class="pull-right" (click)="insertPicturePop()">Insert <i class="fa fa-picture-o fa-fw"></i></a></li>
        <li><a class="pull-right" (click)="insertLinkPop()">Insert <i class="fa fa-link fa-fw"></i></a></li>
      </ul>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8  col-lg-8">
      <input id="chat-input" autocomplete="off" type="text" class="form-control" [(ngModel)]="type" placeholder="Type here ...">
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a class="btn btn-primary" (click)="send()"><i class="fa fa-send fa-fw"></i></a>
    </div>
  </div>
</form>
